<header class="header">
    <nav class="nav nav--tours">
      <a href="/" class="nav__el">All Tours</a>
      <form class="nav__search">
        <button class="nav__search-btn">
          <svg>
            <use xlink:href="/img/icons.svg#icon-search"></use>
          </svg>
        </button>
        <input
          type="text"
          placeholder="Search tours"
          class="nav__search-input"
        />
      </form>
    </nav>
    <div class="header__logo">
      <img src="/img/logo-white.png" alt="Natours logo" />
    </div>
    <nav class="nav nav--user">
      <% if (typeof user !== 'undefined' && user){ %>
      <a href="#" id="logout/btn" class="nav__el nav__el--logout">Logout</a>
      <a href="/me" class="nav__el">
        <img class="nav__user-img" src="/img/users/<%= user.photo?user.photo:"user-1.jpg" %>" alt="User Photo">
        <span><%= user.name.split(' ')[0] %></span>
      </a>
      <% } else{ %>
        <a href="/login" class="nav__el">Log in</a>
        <a href="/signup" class="nav__el nav__el--cta">Sign up</a>
      <% } %>
    </nav>
</header>